* {
  margin: 0;
  padding: 0;

}

a {
  color: #fff;
  text-decoration: none;
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
}

@media screen and (max-width: 800px) {
  header {
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding: 16px 20px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-around;
   
    
  }
  .galeria {
   
  }
  .formBlog {
    justify-content: center;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
  }
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}


.nav-list {
  list-style: none;
  display: flex;
  color: beige;
  gap: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-list li {
  letter-spacing: 3px;
  
}


@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

}



@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }

}

.banner {
  width: 100%;
  height: 500px;

}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.titulo {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paragrafo {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.linha1 {
  list-style: none;
  display: flex;
  gap: 90px;
  padding: 60px 30px;
  justify-content: center;
}

#prototipo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.prototipo .titulo{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.galeria {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.galeria img{
  transition: all 0.3s ease-in-out;
}
.galeria img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.Galeria{
  width: 250px;
  height: fit-content;
}

.Galeria{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  padding: 20px;
}

.contato{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nutri img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titulop{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titun{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aplicativo {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aplicativo img{
  width: 40px;
  height: 40px;
}


.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}

.formLogin {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px
}

.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.formLogin input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}


.formLogin input:focus {
  border: 1px solid #15810c;
}

.formLogin label {
  font-size: 14px;
  font-weight: 600;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
  transition: all linear 160ms;
}

.formLogin a:hover {
  color: #15810c;
}

.blog {
  display: flex;
  gap: 30px;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 500px;

}

.formBlog {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px
}

.formBlog:hover{
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formBlog h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formBlog input:focus {
  border: 1px solid #15810c;
}


.formBlog a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
  transition: all linear 160ms;
}

.formBlog a:hover {
  color: #15810c;
}

.formBlog img{
  width: 200px;
  height: 200px;
}

.blogAdm {
  display: flex;
  gap: 60px;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 500px;

}

.formBlogAdm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px
}

.formBlogAdm h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formBlogAdm input:focus {
  border: 1px solid #15810c;
}


.formBlogAdm a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
  transition: all linear 160ms;
}

.formBlogAdm a:hover {
  color: #15810c;
}

.formBlogAdm img{
  width: 200px;
  height: 200px;
}

.BlogAdm .titulo{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(255, 255, 255, 0.4);
  gap: 5px;
}

.formCadastro h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formCadastro p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.formCadastro input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}


.formCadastro label {
  font-size: 14px;
  font-weight: 600;
}

.formCadastro a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #ffffff;
  transition: all linear 160ms;
}
.botaoEnviar {
  align-items: center;
}
